#wrap{}
#header{}
#section{}
#footer{}

/*********************header****************************/
*{margin:0;padding:0}
html{font-size:15px; font-family: Nanumsquare;}
body{color:#777;}
.inner{width: 1349px; margin:0 auto}
a{text-decoration: none;color:inherit}

/*공통디자인*/
#logo{float: left; padding-left: 100px;}
nav {margin-bottom: 55px; float: left;}
nav .depth1 {position:absolute; left: 700px; top:0px; height: 80px;}
nav .depth1 > li {float:left;}
nav .depth1 > li > a {display: block;
  line-height: 80px;
     text-align: center;font-size:1rem;color:#333;
     font-weight: bold;
     padding-top:5px; padding-bottom:5px}

/* 네비1 */      
#nav1 .depth1{z-index:99}
#nav1 .depth1 ul, #nav1 .depth1 li{list-style-type: none;}
#nav1 .depth1 ul{border-left:1px solid #ccc;
             border-right:1px solid #ccc;
             border-bottom:1px solid #ccc;
             height:0;overflow: hidden;
             opacity: 0;
             transition: 0.5s;
             background-color:#fff;
             padding:34px;
             box-sizing: border-box;
             line-height: 2em;
            }
#nav1 .depth1>li:hover ul{height:300px;opacity: 1;}

/*슬라이드*/
#slider-wrapper {
    width: 100%;
    height: 879px;

    position: relative;
    margin-bottom: 95px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  #s1 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s2 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s3 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s4 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s1:hover,
  #s2:hover,
  #s3:hover,
  #s4:hover {
    opacity: .50;
  }
  
  .inner-wrapper {
    width: 1920px;
    height: 879px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .control {
    display: none;
  }
  
  #Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%;
  }
  
  #Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%;
  }
  
  #Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%;
  }
  
  #Slide4:checked ~ .overflow-wrapper {
    margin-left: -300%;
  }
  
  #Slide1:checked + #s1 {
    opacity: 1;
  }
  
  #Slide2:checked + #s2 {
    opacity: 1;
  }
  
  #Slide3:checked + #s3 {
    opacity: 1;
  }
  
  #Slide4:checked + #s4 {
    opacity: 1;
  }
  
  .overflow-wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .slide img {
    width: 25%;
    float: left;
  }

 /* 회사소개 */

#company{}

#company h1{
  color: #000000;
  text-align: center;
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: bolder;
}
#company .orion{
  color: #000000;
  text-align: center;
  font-size: 20px;
  margin-bottom: 92px;
}

#company > div{
  width: 1349px;
  height: 541px;
  margin: 0 auto;
  color: #000000;
}
#company > ul{
  display: block;
  height: 198px; width: 394px;
  float: left;

}
#company > ul, #company > ul li {
  font-size: 50px;
  margin-top: 118px;
  float: left;
}

.cust {margin-top: 200px;}
.cust, .cust li, .cust li p {display: block; width: 511px;}
.cust span {font-size: 50px;}

#company img {float: left; margin-top: -300px; margin-left: 420px;}

#company .cust li p {font-size: 20px;}

.abc {float: right; margin-top: -300px;
  display: block; width: 302px; height: 541px;}
.abc > li {list-style-type: none}
.abc p {font-size: 55px; margin-top: -10px;}
.number {float: left; padding-right: 25px;
  display: block; width: 33px; height: 66px;}
.abc li span {font-size: 16px; display: block; width: 320px; height: 18px;
  margin-top: -10px;}
  .text{font-weight: bold; color: #00CB93;}
#company ul .text {font-size: 20px;}

.line {border-bottom: 1px solid #000000; padding-bottom: 40px;}

/* 브랜드스토리 */

#brands {color: #000000; background-color: #F1FBF8;
  width:100%;
  height: 823px;
}


#brands ul{
  padding-left: 250px;
}

#brands ul li {
  font-size: 16px;
  padding-left: 19px;
  list-style-type: none;
}
#brand h1 {
  display: block;
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
}
#brands ul li h1 {
  font-size: 35px;
}

#brands #garo li{
display: inline;
}

#brands img {float: right;}

#brt{
  font-size: 20;
}

/* 제주용암수 소개*/

#about{
  display: block;
  width: 100%;
  height: 1534px;
  background-image: url('../images/letter_b.jpg');
}


#about div{
  width: 1087px;
  height: 797px;
  background-color: #fff;
  opacity: 89%;
  float: right;
  margin-top: 739px;
}

#about span {
  float: left;
  padding-left: 128px;
  padding-top: 148px;
}

#about span h1 {
  font-size: 20px;
  padding-bottom: 39px;
  color: #00CB93;
} 

#about span h2{
  font-size: 40px;
  font-weight: lighter;
  padding-bottom: 38px;
}

#about span p{
  font-size: 20px;
  font-weight: lighter;
}

/* 소식 */
#news {padding-top: 109px;
  background-color: #F1FBF8;
  color: #000000;
  padding-bottom: 96px;
  
}
#news h1{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
}

#news p{
  text-align: center;
  padding-bottom: 98px;
}

#news #nn ul {margin-left: 280px; list-style: none;}
#news #nn ul li {height: 400px; width: 505px; display: inline-block;
}
#news img {padding-bottom: 20px;}

/*********************footer****************************/

#footer {
  width: 100%; height: 432px; background-color: #2D4A42;
 
}

#footer ul{display: inline-block;  list-style: none;
margin-right: 100px; color: #fff;
padding-top: 50px;
padding-bottom: 50px;
}

#footer ul li {font-size: 13px; padding-bottom: 20px;}
#footer h1{font-size: 15px;}

#footer #bor {border: 0.5px solid #fff;}
#footer #bb {padding-bottom: 50px;}

#footer #fin {display: block; width: 1290px; height: 100px; color: #fff; font-size: 15px;}